{% extends "dashboard/base.html" %}
{%block content%}

    <div class="container">
        <h2 class="welcome-message">About Us</h2>
        <div class="content ">
            <section>
                <h3>Our Vision</h3>
                <p>We aim to provide a seamless and user-friendly platform for individuals to explore features like weather updates, recommendations, and more. Our focus is on delivering practical solutions for everyday challenges.</p>
            </section>

            <section>
                <h3>Current Features</h3>
                <ul class="recommendations">
                    <li>Accurate weather updates based on user input.</li>
                    <li>Personalized recommendations for activities and attire.</li>
                    <li>Interactive and responsive user interface.</li>
                </ul>
            </section>

            <section>
                <h3>Future Plans</h3>
                <p>We are constantly exploring ways to enhance our platform. Upcoming features include:</p>
                <ul class="recommendations">
                    <li>Real-time weather tracking and alerts.</li>
                    <li>Integration with third-party apps for enhanced user experience.</li>
                    <li>Customizable user profiles and data insights.</li>
                </ul>
            </section>
        </div>
    </div>

{%endblock%}
